network:
  name: nflow
  num_classes: '@{dataset.num_classes}'
  image_size: '@{dataset.image_size}'
  pretrained: False
  checkpoint: none           # ignore if pretrained is false
  num_gpus: '@{num_gpus}'

  # normalizing flow network (RealNVP)
  nflow:
    latent_size: 512  # The size of the latent space
    hidden_size: 1024  # The number of the hidden units
    n_flows: 4  # Number of flows
    hidden_layers: 1  # The number of hidden layers in st_network
    clamp_value: 25.0  # The value used for clamping st_network outputs
    clamp_method: "HARD"  # The clamp method, choices: [HARD, TANH, SIGMOID, ATAN]
    clamp_t: True  # Whether to clamp the t-network outputs as well as s-network outputs
    l2_normalize: False  # l2-normalize the input of the nflow network
    arch: "RealNVP" # The architecture of the normalizing flow, choices: [RealNVP, Glow, NSF, ResFlow]

  # network used for feature extraction
  backbone:
    name: resnet18_32x32
    num_classes: '@{dataset.num_classes}'
    image_size: '@{dataset.image_size}'
    pretrained: False
    checkpoint: none
    num_gpus: '@{num_gpus}'
